data/flows.json
[
    {
        "id": "718459f3.4a42d8",
        "type": "tab",
        "label": "First_Flow",
        "disabled": false,
        "info": "Flow principal - Logique du bot"
    },
    {
        "id": "d44addf5.5e105",
        "type": "subflow",
        "name": "Bjr-GetInfos",
        "info": "",
        "in": [
            {
                "x": 20,
                "y": 180,
                "wires": [
                    {
                        "id": "fed03e95.74b1b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 160,
                "wires": [
                    {
                        "id": "802ce172.c542f",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "260dda1e.109b86",
        "type": "subflow",
        "name": "Inser User",
        "info": "Insère l'utilisateur dans la base de données et renvoie vrai en sortie 1 si réussite sinon echec en sortie 2.\n",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "d5056b10.0f23e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 120,
                "wires": [
                    {
                        "id": "8929fd1c.f15f1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 180,
                "wires": [
                    {
                        "id": "de7b8fd0.c0442",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "73fb07f4.a52948",
        "type": "credentials-config",
        "z": "718459f3.4a42d8",
        "name": "webchat",
        "rules": [
            {
                "p": "secret",
                "tot": "str"
            }
        ]
    },
    {
        "id": "b17e0003.442d7",
        "type": "mongodb",
        "z": "",
        "name": "chatbot_db"
    },
    {
        "id": "ad575965.c96648",
        "type": "node-recast-config",
        "z": "",
        "name": "DevToken",
        "lang": "fr"
    },
    {
        "id": "f609348a.56efe8",
        "type": "node-recast-config",
        "z": "",
        "name": "RequestToken",
        "lang": "fr"
    },
    {
        "id": "66ce45e5.496d9c",
        "type": "ms-luis-config",
        "z": "",
        "name": "endpoint_luis",
        "way": "endpoint",
        "host": "https://westus.api.cognitive.microsoft.com"
    },
    {
        "id": "ec7ea6e8.c2b998",
        "type": "node-recast-config",
        "z": "",
        "name": "config-test",
        "lang": "fr"
    },
    {
        "id": "cec3529f.0935",
        "type": "socketio-server-config",
        "z": ""
    },
    {
        "id": "697d427c.f46ccc",
        "type": "node-recast-config",
        "z": "",
        "name": "Versionning",
        "lang": "fr"
    },
    {
        "id": "2305abd1.2d12f4",
        "type": "credentials-config",
        "z": "",
        "name": "cred_recast",
        "rules": [
            {
                "p": "secret",
                "tot": "str"
            }
        ]
    },
    {
        "id": "db853bd.d7886c8",
        "type": "bot",
        "z": "718459f3.4a42d8",
        "name": "bot",
        "project": "",
        "port": "",
        "x": 50,
        "y": 300,
        "wires": [
            [
                "89c46a99.f8aa68"
            ]
        ]
    },
    {
        "id": "22586edf.7e5f82",
        "type": "http in",
        "z": "718459f3.4a42d8",
        "name": "",
        "url": "/webchat",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "402738d9.4b33e8"
            ]
        ]
    },
    {
        "id": "965c2dac.d234a",
        "type": "template",
        "z": "718459f3.4a42d8",
        "name": "chat",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Webchat</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.botframework.com/botframework-webchat/latest/botchat.css\">\n  </head>\n\n<body id=\"bg\">\n    <div id=\"bot\"></div>\n    \n    <script src=\"https://code.jquery.com/jquery-3.1.1.slim.min.js\" integrity=\"sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.botframework.com/botframework-webchat/latest/botchat.js\" width=\"400\"></script>\n    <script>\n        var name = \"Alex\";\n        var userid = Math.floor(Math.random() * 10) + \"\" + Date.now()+ \"\" +Math.floor(Math.random() * 10);\n        var connector = new BotChat.DirectLine ({ secret: \"{{parameters.secret}}\" });\n        \n          BotChat.App({\n            botConnection: connector,\n            user: { \n                id: userid,\n                name: name\n            },\n            bot:  { \n                id: 'viseBot'\n            },\n            resize: 'detect'\n          }, document.getElementById(\"bot\"));\n          \n          connector.postActivity({\n            from: { \n                id:   userid,\n                name: name\n            },\n                type: 'message',\n                text: 'CMD-START'\n            }).subscribe(\n                id => {},\n                error => console.log(\"Error posting activity\", error)\n            );\n    </script>\n  </body>\n</html>",
        "output": "str",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "74fe2bfb.8a6fc4"
            ]
        ]
    },
    {
        "id": "74fe2bfb.8a6fc4",
        "type": "http response",
        "z": "718459f3.4a42d8",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "402738d9.4b33e8",
        "type": "set-credentials",
        "z": "718459f3.4a42d8",
        "name": "creds",
        "set": "parameters",
        "setType": "msg",
        "rules": "73fb07f4.a52948",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "965c2dac.d234a"
            ]
        ]
    },
    {
        "id": "89c46a99.f8aa68",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "func",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f0c4d67c.8a07a8"
            ]
        ]
    },
    {
        "id": "f0c4d67c.8a07a8",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "intro",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1543586726408",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": false,
        "speechText": "",
        "sendType": "text",
        "text": "Bonjour ! Qui êtes-vous ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "684717fb.ab71b8"
            ]
        ]
    },
    {
        "id": "354301b6.a5314e",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "msg_db",
        "active": false,
        "console": false,
        "complete": "true",
        "x": 623.0000038146973,
        "y": 221.00000286102295,
        "wires": []
    },
    {
        "id": "f71090d4.0ebd9",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "fname_key",
        "func": "var nom;\nvar prenom;\n\nmsg.payload.entities.forEach((elem)=>{\n    switch(elem['type']){\n        case 'nom':\n            nom = elem.entity;\n            break;\n        case 'prenom':\n            prenom = elem.entity; \n            break;\n        default:\n            console.log('No name for the user');\n    }\n});\n\nmsg.key = {fname: prenom , lname: nom};\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "ee0ed0d0.6da81"
            ]
        ]
    },
    {
        "id": "ee0ed0d0.6da81",
        "type": "nosql",
        "z": "718459f3.4a42d8",
        "name": "mongo",
        "server-type": "mongodb",
        "collection": "users",
        "collectionType": "str",
        "key": "key",
        "offset": "0",
        "offsetType": "num",
        "limit": "10",
        "limitType": "num",
        "value": "userFound",
        "operation": "find",
        "merge": false,
        "server-mongodb": "b17e0003.442d7",
        "server-nedb": "",
        "x": 630,
        "y": 300,
        "wires": [
            [
                "354301b6.a5314e",
                "e0e606e.cf470f8"
            ]
        ]
    },
    {
        "id": "b2b679e5.fbc9c8",
        "type": "ms-luis",
        "z": "718459f3.4a42d8",
        "name": "luis",
        "config": "66ce45e5.496d9c",
        "text": "payload",
        "textType": "msg",
        "intent": "payload",
        "intentType": "msg",
        "x": 312.00000381469727,
        "y": 216.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "27223fe2.dc272",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "debug_recast",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 331,
        "y": 403.0000171661377,
        "wires": []
    },
    {
        "id": "e0e606e.cf470f8",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "",
        "property": "userFound.0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "1f74d9ff.c9eed6"
            ],
            [
                "454f63d1.cc1dbc"
            ]
        ]
    },
    {
        "id": "454f63d1.cc1dbc",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Bonjour",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545321199459",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Bonjour {key.fname} de quoi as-tu besoin ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 900,
        "y": 340,
        "wires": [
            [
                "a46aca8b.1c5a28"
            ]
        ]
    },
    {
        "id": "16ed80e4.45dbaf",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "suite bienvenue",
        "links": [
            "3f151a77.d1c4e6"
        ],
        "x": 15,
        "y": 500,
        "wires": [
            [
                "28014602.3166fa"
            ]
        ]
    },
    {
        "id": "3f151a77.d1c4e6",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "link-mail-age-poste",
        "links": [
            "16ed80e4.45dbaf"
        ],
        "x": 1035,
        "y": 280,
        "wires": []
    },
    {
        "id": "a46aca8b.1c5a28",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "suite bonjour",
        "links": [
            "b05b73db.ccf6b"
        ],
        "x": 995,
        "y": 340,
        "wires": []
    },
    {
        "id": "b05b73db.ccf6b",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "suite bonjour bis",
        "links": [
            "a46aca8b.1c5a28"
        ],
        "x": 20,
        "y": 539.0000038146973,
        "wires": [
            [
                "44b11ef4.3cae4"
            ]
        ]
    },
    {
        "id": "23cd1370.c0db2c",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Merci",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545821773900",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Merci ! Pourrais-tu aussi m'indiquer le nom de ton poste dans l'entreprise ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 1290,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6aa13732.aefc68",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "retour compteur",
        "links": [
            "7f27d68.3de2628"
        ],
        "x": 1255,
        "y": 140,
        "wires": []
    },
    {
        "id": "44b11ef4.3cae4",
        "type": "ms-luis",
        "z": "718459f3.4a42d8",
        "name": "",
        "config": "66ce45e5.496d9c",
        "text": "payload",
        "textType": "msg",
        "intent": "payload",
        "intentType": "msg",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "caeb1fd4.1f968",
                "ddcc8c10.4430d"
            ]
        ]
    },
    {
        "id": "6d6ea79a.5e5638",
        "type": "send-card",
        "z": "d44addf5.5e105",
        "name": "Bienvenue",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546011964412",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Bienvenue {key.fname} ! \nAfin de t'enregistrer dans la base de données, pourrais-tu me donner ton adresse email ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "18296fc0.2dd55"
            ]
        ]
    },
    {
        "id": "25a8920e.3db44e",
        "type": "switch",
        "z": "d44addf5.5e105",
        "name": "switch",
        "property": "cpt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "6d6ea79a.5e5638"
            ],
            [
                "ab193486.ad2728"
            ]
        ]
    },
    {
        "id": "18296fc0.2dd55",
        "type": "switch",
        "z": "d44addf5.5e105",
        "name": "",
        "property": "prompt.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^([a-z0-9_-]*\\.[a-z0-9_-]*)@viseo\\.com$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "3a62132c.2428dc"
            ],
            [
                "a2ea2e0b.89607"
            ]
        ]
    },
    {
        "id": "ab193486.ad2728",
        "type": "send-card",
        "z": "d44addf5.5e105",
        "name": "redemande",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546011954306",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Malheureusement, j'ai besoin de ton email viseo pour pouvoir continuer..",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "18296fc0.2dd55"
            ]
        ]
    },
    {
        "id": "802ce172.c542f",
        "type": "send-card",
        "z": "d44addf5.5e105",
        "name": "Merci",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546011947918",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Merci ! Pourrais-tu aussi m'indiquer le nom de ton poste dans l'entreprise ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 710,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3a62132c.2428dc",
        "type": "change",
        "z": "d44addf5.5e105",
        "name": "setmail",
        "rules": [
            {
                "t": "set",
                "p": "key.email",
                "pt": "msg",
                "to": "prompt.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "802ce172.c542f"
            ]
        ]
    },
    {
        "id": "1753f146.ea7e4f",
        "type": "link out",
        "z": "d44addf5.5e105",
        "name": "retour compteur",
        "links": [
            "5f8aeb09.18cdb4"
        ],
        "x": 675,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f8aeb09.18cdb4",
        "type": "link in",
        "z": "d44addf5.5e105",
        "name": "début compteur",
        "links": [
            "1753f146.ea7e4f"
        ],
        "x": 175,
        "y": 140,
        "wires": [
            [
                "25a8920e.3db44e"
            ]
        ]
    },
    {
        "id": "fed03e95.74b1b",
        "type": "change",
        "z": "d44addf5.5e105",
        "name": "set compteur",
        "rules": [
            {
                "t": "set",
                "p": "cpt",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "25a8920e.3db44e"
            ]
        ]
    },
    {
        "id": "a2ea2e0b.89607",
        "type": "function",
        "z": "d44addf5.5e105",
        "name": "cpt++",
        "func": "msg.cpt++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "1753f146.ea7e4f"
            ]
        ]
    },
    {
        "id": "1f74d9ff.c9eed6",
        "type": "subflow:d44addf5.5e105",
        "z": "718459f3.4a42d8",
        "name": "",
        "x": 920,
        "y": 280,
        "wires": [
            [
                "3f151a77.d1c4e6"
            ]
        ]
    },
    {
        "id": "d5056b10.0f23e8",
        "type": "nosql",
        "z": "260dda1e.109b86",
        "name": "inserUser",
        "server-type": "mongodb",
        "collection": "users",
        "collectionType": "str",
        "key": "",
        "offset": "",
        "offsetType": "num",
        "limit": "",
        "limitType": "num",
        "value": "key",
        "operation": "add",
        "merge": false,
        "server-mongodb": "b17e0003.442d7",
        "server-nedb": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "d4312c3f.c51b6"
            ]
        ]
    },
    {
        "id": "d4312c3f.c51b6",
        "type": "switch",
        "z": "260dda1e.109b86",
        "name": "testinser",
        "property": "key._id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "8929fd1c.f15f1"
            ],
            [
                "de7b8fd0.c0442"
            ]
        ]
    },
    {
        "id": "8929fd1c.f15f1",
        "type": "send-card",
        "z": "260dda1e.109b86",
        "name": "enregistré",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546429109346",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Tu es désormais enregistré {key.fname}, que puis-je faire pour toi ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "de7b8fd0.c0442",
        "type": "send-card",
        "z": "260dda1e.109b86",
        "name": "fail",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546429104102",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "L'enregistrement n'a pas fonctionné..",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "28014602.3166fa",
        "type": "subflow:260dda1e.109b86",
        "z": "718459f3.4a42d8",
        "name": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "44b11ef4.3cae4"
            ],
            []
        ]
    },
    {
        "id": "ddcc8c10.4430d",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "",
        "property": "payload.topScoringIntent.intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "chatbot.human_contact",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "smalltalk.agent.can_you_help",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "process.declare_pb",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "fc6340fa.4220d"
            ],
            [
                "e40119e6.3e9988"
            ],
            [
                "7af4fd2e.540354"
            ],
            [
                "e9be0a9d.5f3278"
            ]
        ]
    },
    {
        "id": "e9be0a9d.5f3278",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Otherwise",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546513324702",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Je n'ai pas compris votre demande pouvez-vous reformuler ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 578.0000076293945,
        "y": 598.0000038146973,
        "wires": [
            [
                "4be7c61c.b9e778"
            ]
        ]
    },
    {
        "id": "fc6340fa.4220d",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Humain",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546520816127",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": false,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Bien-sûr ! je contacte immédiatement le responsable clientèle.",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 581.0000076293945,
        "y": 469.00000381469727,
        "wires": [
            [
                "217e5d85.b7b8d2"
            ]
        ]
    },
    {
        "id": "caeb1fd4.1f968",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 298.00000381469727,
        "y": 459.0000066757202,
        "wires": []
    },
    {
        "id": "3c2e2c41.020214",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "suite pas compris",
        "links": [
            "4be7c61c.b9e778",
            "21727840.2c1518"
        ],
        "x": 29.166671752929688,
        "y": 577.6666870117188,
        "wires": [
            [
                "44b11ef4.3cae4"
            ]
        ]
    },
    {
        "id": "4be7c61c.b9e778",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "link pas compris",
        "links": [
            "3c2e2c41.020214"
        ],
        "x": 681.166675567627,
        "y": 599.5555591583252,
        "wires": []
    },
    {
        "id": "217e5d85.b7b8d2",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "faire chat humain",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546608249421",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": false,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Une personne réelle s'occupera de vous très prochainement.",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 604.1666717529297,
        "y": 402.7777843475342,
        "wires": [
            []
        ]
    },
    {
        "id": "7af4fd2e.540354",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Diag",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1546611641268",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Voulez-vous déterminer l'origine du problème en répondant simplement à mes questions ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 574.1666717529297,
        "y": 558.1111688613892,
        "wires": [
            [
                "955613d3.19b2"
            ]
        ]
    },
    {
        "id": "e10ce9e6.adccb8",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "",
        "property": "payload.topScoringIntent.intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "process.declare_pb",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "smalltalk.confirmation.yes",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 866.1666603088379,
        "y": 540.4444732666016,
        "wires": [
            [
                "27e160df.839ee"
            ],
            [
                "27e160df.839ee"
            ],
            [
                "9c7922b4.b1cc7"
            ]
        ]
    },
    {
        "id": "27e160df.839ee",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "okDiag",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1548062875178",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Parfait, allons-y ! La panne est-elle matérielle ou logicielle ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 1025.166675567627,
        "y": 539.1111698150635,
        "wires": [
            [
                "5e17cb87.8505e4"
            ]
        ]
    },
    {
        "id": "9c7922b4.b1cc7",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "retourDeb",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1548062972881",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "De quoi avez-vous besoin alors ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 1023.1666717529297,
        "y": 583.1111698150635,
        "wires": [
            [
                "21727840.2c1518"
            ]
        ]
    },
    {
        "id": "955613d3.19b2",
        "type": "ms-luis",
        "z": "718459f3.4a42d8",
        "name": "",
        "config": "66ce45e5.496d9c",
        "text": "payload",
        "textType": "msg",
        "intent": "payload",
        "intentType": "msg",
        "x": 739.1666717529297,
        "y": 533.8888931274414,
        "wires": [
            [
                "e10ce9e6.adccb8",
                "691d3080.5c4ad"
            ]
        ]
    },
    {
        "id": "e40119e6.3e9988",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "help",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1548078020219",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Oui bien-sûr ! Voulez-vous déterminer l'origine du problème en répondant simplement à mes questions ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 575.1666717529297,
        "y": 514.7777814865112,
        "wires": [
            [
                "955613d3.19b2"
            ]
        ]
    },
    {
        "id": "691d3080.5c4ad",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "debug_luis",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 815.1666870117188,
        "y": 628.6666870117188,
        "wires": []
    },
    {
        "id": "21727840.2c1518",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "",
        "links": [
            "3c2e2c41.020214"
        ],
        "x": 1127.166675567627,
        "y": 581.4444484710693,
        "wires": []
    },
    {
        "id": "5e17cb87.8505e4",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "arbre décisionnel",
        "links": [
            "95087ca9.e9ede"
        ],
        "x": 1129.166675567627,
        "y": 539.4444484710693,
        "wires": []
    },
    {
        "id": "95087ca9.e9ede",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "",
        "links": [
            "5e17cb87.8505e4"
        ],
        "x": 22.166671752929688,
        "y": 703.5555334091187,
        "wires": [
            [
                "1ebe325b.509c2e"
            ]
        ]
    },
    {
        "id": "1ebe325b.509c2e",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "func",
        "func": "var chaine = \"voir pour l'arbre de décision\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 119.16667175292969,
        "y": 703.7778015136719,
        "wires": [
            []
        ]
    },
    {
        "id": "684717fb.ab71b8",
        "type": "node-recast",
        "z": "718459f3.4a42d8",
        "name": "recast",
        "key": "ad575965.c96648",
        "input": "payload",
        "inputType": "msg",
        "output": "payload",
        "outputType": "msg",
        "x": 319.1666679382324,
        "y": 335.3334484100342,
        "wires": [
            [
                "27223fe2.dc272"
            ]
        ]
    }
]