data/flows.json
[
    {
        "id": "718459f3.4a42d8",
        "type": "tab",
        "label": "First_Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f771ea3.7ae222",
        "type": "tab",
        "label": "test_doc",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf01498e.e4c518",
        "type": "subflow",
        "name": "set user",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "73fb07f4.a52948",
        "type": "credentials-config",
        "z": "718459f3.4a42d8",
        "name": "webchat",
        "rules": [
            {
                "p": "secret",
                "tot": "str"
            }
        ]
    },
    {
        "id": "b17e0003.442d7",
        "type": "mongodb",
        "z": "",
        "name": "chatbot_db"
    },
    {
        "id": "ad575965.c96648",
        "type": "node-recast-config",
        "z": "",
        "name": "DevToken",
        "lang": "fr"
    },
    {
        "id": "f609348a.56efe8",
        "type": "node-recast-config",
        "z": "",
        "name": "RequestToken",
        "lang": "fr"
    },
    {
        "id": "66ce45e5.496d9c",
        "type": "ms-luis-config",
        "z": "",
        "name": "endpoint_luis",
        "way": "endpoint",
        "host": "https://westus.api.cognitive.microsoft.com"
    },
    {
        "id": "ec7ea6e8.c2b998",
        "type": "node-recast-config",
        "z": "",
        "name": "config-test",
        "lang": "fr"
    },
    {
        "id": "db853bd.d7886c8",
        "type": "bot",
        "z": "718459f3.4a42d8",
        "name": "bot",
        "project": "",
        "port": "",
        "x": 50,
        "y": 300,
        "wires": [
            [
                "89c46a99.f8aa68"
            ]
        ]
    },
    {
        "id": "22586edf.7e5f82",
        "type": "http in",
        "z": "718459f3.4a42d8",
        "name": "",
        "url": "/webchat",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "402738d9.4b33e8"
            ]
        ]
    },
    {
        "id": "965c2dac.d234a",
        "type": "template",
        "z": "718459f3.4a42d8",
        "name": "chat",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Webchat</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.botframework.com/botframework-webchat/latest/botchat.css\">\n  </head>\n\n<body id=\"bg\">\n    <div id=\"bot\"></div>\n    \n    <script src=\"https://code.jquery.com/jquery-3.1.1.slim.min.js\" integrity=\"sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.botframework.com/botframework-webchat/latest/botchat.js\" width=\"400\"></script>\n    <script>\n        var name = \"Alex\";\n        var userid = Math.floor(Math.random() * 10) + \"\" + Date.now()+ \"\" +Math.floor(Math.random() * 10);\n        var connector = new BotChat.DirectLine ({ secret: \"{{parameters.secret}}\" });\n        \n          BotChat.App({\n            botConnection: connector,\n            user: { \n                id: userid,\n                name: name\n            },\n            bot:  { \n                id: 'viseBot'\n            },\n            resize: 'detect'\n          }, document.getElementById(\"bot\"));\n          \n          connector.postActivity({\n            from: { \n                id:   userid,\n                name: name\n            },\n                type: 'message',\n                text: 'CMD-START'\n            }).subscribe(\n                id => {},\n                error => console.log(\"Error posting activity\", error)\n            );\n    </script>\n  </body>\n</html>",
        "output": "str",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "74fe2bfb.8a6fc4"
            ]
        ]
    },
    {
        "id": "74fe2bfb.8a6fc4",
        "type": "http response",
        "z": "718459f3.4a42d8",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "402738d9.4b33e8",
        "type": "set-credentials",
        "z": "718459f3.4a42d8",
        "name": "creds",
        "set": "parameters",
        "setType": "msg",
        "rules": "73fb07f4.a52948",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "965c2dac.d234a"
            ]
        ]
    },
    {
        "id": "89c46a99.f8aa68",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "func",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f0c4d67c.8a07a8"
            ]
        ]
    },
    {
        "id": "f0c4d67c.8a07a8",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "intro",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1543586726408",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "payload",
        "promptTextType": "msg",
        "speech": false,
        "speechText": "",
        "sendType": "text",
        "text": "Bonjour ! Qui êtes-vous ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "b2b679e5.fbc9c8"
            ]
        ]
    },
    {
        "id": "354301b6.a5314e",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "msg_db",
        "active": true,
        "console": false,
        "complete": "true",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "f71090d4.0ebd9",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "fname_key",
        "func": "var nom;\nvar prenom;\n\nmsg.payload.entities.forEach((elem)=>{\n    switch(elem['type']){\n        case 'nom':\n            nom = elem.entity;\n            break;\n        case 'prenom':\n            prenom = elem.entity; \n            break;\n        default:\n            console.log('No name for the user');\n    }\n});\n\nmsg.key = {fname: prenom , lname: nom};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "ee0ed0d0.6da81"
            ]
        ]
    },
    {
        "id": "ee0ed0d0.6da81",
        "type": "nosql",
        "z": "718459f3.4a42d8",
        "name": "mongo",
        "server-type": "mongodb",
        "collection": "users",
        "collectionType": "str",
        "key": "key",
        "offset": "0",
        "offsetType": "num",
        "limit": "10",
        "limitType": "num",
        "value": "userFound",
        "operation": "find",
        "merge": false,
        "server-mongodb": "b17e0003.442d7",
        "server-nedb": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "354301b6.a5314e",
                "e0e606e.cf470f8"
            ]
        ]
    },
    {
        "id": "1c5c30bf.21c8bf",
        "type": "node-recast",
        "z": "718459f3.4a42d8",
        "name": "recast",
        "key": "ec7ea6e8.c2b998",
        "input": "payload",
        "inputType": "msg",
        "output": "payload",
        "outputType": "msg",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "d0bf2b6f.9712c8"
            ]
        ]
    },
    {
        "id": "ca258843.53d888",
        "type": "bot",
        "z": "3f771ea3.7ae222",
        "name": "bot",
        "project": "",
        "port": "",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "a499c3b7.e3f7d"
            ]
        ]
    },
    {
        "id": "a499c3b7.e3f7d",
        "type": "function",
        "z": "3f771ea3.7ae222",
        "name": "func",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d0bf2b6f.9712c8",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "debug recast",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 924.0000038146973,
        "y": 63.000001430511475,
        "wires": []
    },
    {
        "id": "b2b679e5.fbc9c8",
        "type": "ms-luis",
        "z": "718459f3.4a42d8",
        "name": "luis",
        "config": "66ce45e5.496d9c",
        "text": "payload",
        "textType": "msg",
        "intent": "payload",
        "intentType": "msg",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "27223fe2.dc272",
                "f71090d4.0ebd9"
            ]
        ]
    },
    {
        "id": "27223fe2.dc272",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "debug_luis",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "e0e606e.cf470f8",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "",
        "property": "userFound.0.lname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "1d8120c.8b5b3df"
            ],
            [
                "454f63d1.cc1dbc"
            ]
        ]
    },
    {
        "id": "c3b45069.834fa",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Bienvenue",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545321071435",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Bienvenue {key.fname} ! \nAfin de t'enregistrer dans la base de données, pourrais-tu me donner ton adresse email ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 950,
        "y": 160,
        "wires": [
            [
                "1477d2c0.24038d"
            ]
        ]
    },
    {
        "id": "454f63d1.cc1dbc",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Bonjour",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545321199459",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Bonjour {key.fname} de quoi as-tu besoin ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "a46aca8b.1c5a28"
            ]
        ]
    },
    {
        "id": "d94384bc.b11c98",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "store-info",
        "func": "var tab = msg.prompt.text.split(',');\nvar boolTab = [false,false,false];\nvar regMail = new RegExp(\"/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$/\"); \n\ntab.forEach((elem)=>{\n    var i = 0;\n    if(parseInt(elem) >= 18 && parseInt(elem) <= 63){\n        boolTab[i] = true;\n        msg.key.age = elem;\n        \n    }\n    if(regMail.test(elem)){\n        boolTab[i] = true;\n        msg.key.email = elem;\n    }\n    if(typeof elem === 'string' && elem.length < 30){\n        boolTab[i] = true;\n        msg.key.poste = elem;\n    }\n})\nmsg.result = boolTab;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "16ed80e4.45dbaf",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "suite bienvenue",
        "links": [
            "3f151a77.d1c4e6"
        ],
        "x": 15,
        "y": 480,
        "wires": [
            [
                "29e4c2e4.389b7e"
            ]
        ]
    },
    {
        "id": "3f151a77.d1c4e6",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "link-mail-age-poste",
        "links": [
            "16ed80e4.45dbaf"
        ],
        "x": 1395,
        "y": 200,
        "wires": []
    },
    {
        "id": "a46aca8b.1c5a28",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "suite bonjour",
        "links": [
            "b05b73db.ccf6b"
        ],
        "x": 975,
        "y": 340,
        "wires": []
    },
    {
        "id": "b05b73db.ccf6b",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "suite bonjour bis",
        "links": [
            "a46aca8b.1c5a28"
        ],
        "x": 15,
        "y": 560,
        "wires": [
            [
                "2683c77e.b183a8"
            ]
        ]
    },
    {
        "id": "2683c77e.b183a8",
        "type": "ms-luis",
        "z": "718459f3.4a42d8",
        "name": "",
        "config": "66ce45e5.496d9c",
        "text": "payload",
        "textType": "msg",
        "intent": "payload",
        "intentType": "msg",
        "x": 110,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "86ed5101.f2099",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "switch",
        "property": "cpt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "c3b45069.834fa"
            ],
            [
                "88982e0d.d9997"
            ]
        ]
    },
    {
        "id": "1477d2c0.24038d",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "",
        "property": "prompt.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^([a-z0-9_-]*\\.[a-z0-9_-]*)@viseo\\.com$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "dc6e2459.b92e48"
            ],
            [
                "c35c40bd.489e3"
            ]
        ]
    },
    {
        "id": "88982e0d.d9997",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "redemande",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545821626282",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Malheureusement, j'ai besoin de ton email viseo pour continuer..",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 950,
        "y": 280,
        "wires": [
            [
                "1477d2c0.24038d"
            ]
        ]
    },
    {
        "id": "23cd1370.c0db2c",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "Merci",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545821773900",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Merci ! Pourrais-tu aussi m'indiquer le nom de ton poste dans l'entreprise ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 1290,
        "y": 200,
        "wires": [
            [
                "3f151a77.d1c4e6"
            ]
        ]
    },
    {
        "id": "dc6e2459.b92e48",
        "type": "change",
        "z": "718459f3.4a42d8",
        "name": "setmail",
        "rules": [
            {
                "t": "set",
                "p": "key.email",
                "pt": "msg",
                "to": "prompt.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "23cd1370.c0db2c"
            ]
        ]
    },
    {
        "id": "6aa13732.aefc68",
        "type": "link out",
        "z": "718459f3.4a42d8",
        "name": "retour compteur",
        "links": [
            "7f27d68.3de2628"
        ],
        "x": 1255,
        "y": 240,
        "wires": []
    },
    {
        "id": "7f27d68.3de2628",
        "type": "link in",
        "z": "718459f3.4a42d8",
        "name": "début compteur",
        "links": [
            "6aa13732.aefc68"
        ],
        "x": 735,
        "y": 180,
        "wires": [
            [
                "86ed5101.f2099"
            ]
        ]
    },
    {
        "id": "1d8120c.8b5b3df",
        "type": "change",
        "z": "718459f3.4a42d8",
        "name": "set compteur",
        "rules": [
            {
                "t": "set",
                "p": "cpt",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 240,
        "wires": [
            [
                "86ed5101.f2099"
            ]
        ]
    },
    {
        "id": "c35c40bd.489e3",
        "type": "function",
        "z": "718459f3.4a42d8",
        "name": "cpt++",
        "func": "msg.cpt++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 240,
        "wires": [
            [
                "6aa13732.aefc68"
            ]
        ]
    },
    {
        "id": "29e4c2e4.389b7e",
        "type": "change",
        "z": "718459f3.4a42d8",
        "name": "setposte",
        "rules": [
            {
                "t": "set",
                "p": "key.poste",
                "pt": "msg",
                "to": "prompt.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "8e409d4e.a9b51"
            ]
        ]
    },
    {
        "id": "8e409d4e.a9b51",
        "type": "nosql",
        "z": "718459f3.4a42d8",
        "name": "inserUser",
        "server-type": "mongodb",
        "collection": "users",
        "collectionType": "str",
        "key": "",
        "offset": "",
        "offsetType": "num",
        "limit": "",
        "limitType": "num",
        "value": "key",
        "operation": "add",
        "merge": false,
        "server-mongodb": "b17e0003.442d7",
        "server-nedb": "",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "ad548462.e2df68",
                "a5793fc0.cdd93"
            ]
        ]
    },
    {
        "id": "ad548462.e2df68",
        "type": "debug",
        "z": "718459f3.4a42d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "a5793fc0.cdd93",
        "type": "switch",
        "z": "718459f3.4a42d8",
        "name": "testinser",
        "property": "key._id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "95701fa1.471ef"
            ],
            [
                "6e1afcb.0330c04"
            ]
        ]
    },
    {
        "id": "95701fa1.471ef",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "enregistré",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545832585271",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "Tu es désormais enregistré. Que puis-je faire pour toi ?",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "44b11ef4.3cae4"
            ]
        ]
    },
    {
        "id": "6e1afcb.0330c04",
        "type": "send-card",
        "z": "718459f3.4a42d8",
        "name": "pas enregistré",
        "labels": [
            "Default output"
        ],
        "nodeid": "SEND_1545832588064",
        "delay": "0",
        "repeat": "0",
        "outputs": 1,
        "btnOutput": false,
        "quickOutput": false,
        "prompt": true,
        "promptText": "prompt.text",
        "promptTextType": "msg",
        "speech": true,
        "speechText": "",
        "sendType": "text",
        "text": "L'enregistrement n'a pas fonctionné..",
        "random": false,
        "media": "",
        "mediaType": "str",
        "eventName": "",
        "eventValue": "",
        "eventValueType": "str",
        "title": "",
        "titleType": "str",
        "subtitle": "",
        "attach": "",
        "attachType": "str",
        "carousel": false,
        "buttons": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "quicktext": "",
        "quickreplies": [
            {
                "title": "",
                "action": "postBack",
                "value": "",
                "regexp": ""
            }
        ],
        "signintext": "",
        "signintitle": "",
        "signintitleType": "str",
        "signinurl": "",
        "signinurlType": "str",
        "shcardtext": "",
        "shcardtitle": "",
        "shcardtitleType": "str",
        "shcardimage": "",
        "shcardimageType": "str",
        "shcardbutton": "",
        "shcardbuttonType": "str",
        "shcardurl": "",
        "shcardurlType": "str",
        "x": 600,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "44b11ef4.3cae4",
        "type": "ms-luis",
        "z": "718459f3.4a42d8",
        "name": "",
        "config": "66ce45e5.496d9c",
        "text": "payload",
        "textType": "msg",
        "intent": "payload",
        "intentType": "msg",
        "x": 750,
        "y": 460,
        "wires": [
            []
        ]
    }
]